<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Unmatched Forum Hotel Info</title>
    <%= stylesheet_link_tag 'application' %>

    <%= yield(:head) %>

  </head>
<body bgcolor="white" text="black">

<h1>Unmatched Forum Hotel List</h1>

<a href="/hotel">Unmatched Hotel List</a>
<% if @marked_for_add.length > 0 %>
<ol>
  <% for marked_for_add_indv in @marked_for_add %>
    <li>
      <div>
        <a href="/hotel/add/<%= marked_for_add_indv.id %>"><%= marked_for_add_indv.get_forum_hotel_info.hotel_name  %></a>
      </div>
    </li>
  <% end %>
</ol>

<%  else %>
  <div>No Hotels have been marked for adding!</div>
<%  end %>

</body>

</html>