[$name-main]
name=$name-main-Base
mirrorlist=http://$mirror/latest/main/mirror.list
mirror_expire=300
metadata_expire=300
priority=1
failovermethod=priority
fastestmirror_enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-amazon-beta
enabled=1

[$name-main-nosrc]
name=$name-main-nosrc
mirrorlist=http://$mirror/latest/main/nosrc-mirror.list
mirror_expire=300
metadata_expire=300
priority=1
failovermethod=priority
fastestmirror_enabled=0
gpgcheck=0
enabled=0

[$name-main-debuginfo]
name=$name-main-debuginfo
mirrorlist=http://$mirror/latest/main/debuginfo-mirror.list
mirror_expire=300
metadata_expire=300
priority=1
failovermethod=priority
fastestmirror_enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-amazon-beta
enabled=0
