[$name-updates]
name=$name-updates-Base
mirrorlist=http://$mirror/latest/updates/mirror.list
mirror_expire=300
metadata_expire=300
priority=1
failovermethod=priority
fastestmirror_enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-amazon-beta
enabled=1

[$name-updates-nosrc]
name=$name-updates-nosrc
mirrorlist=http://$mirror/latest/updates/nosrc-mirror.list
mirror_expire=300
metadata_expire=300
priority=1
failovermethod=priority
fastestmirror_enabled=0
gpgcheck=0
enabled=0

[$name-updates-debuginfo]
name=$name-updates-debuginfo
mirrorlist=http://$mirror/latest/updates/debuginfo-mirror.list
mirror_expire=300
metadata_expire=300
priority=1
failovermethod=priority
fastestmirror_enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-amazon-beta
enabled=0
