<div class="child">
 
   <p>
    <%= f.label :city_id %><br />
     
   <%= f.collection_select :city_id, City.find(:all), :id, :name, {:prompt => "Select City"}  %>
  </p>
  <p>
    <%= f.hidden_field :_destroy, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>

</div>
