<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><% title "User Home" %></head>
  <body>


<% if current_user %>
<div id="Not_reg"><%= current_user.username%> is Logged in! Cities paid for are <% for incity in current_user.cities %> <%=incity.name%> <%end%>  </div>
<% else %>
<div id="Not_reg">You Have to be Logged in to see the content of this page</div>
  
<% end %>




</body>
</html>